/InventoryManagementSystem/target/
/InventoryManagementSystem1/nbproject/private/
/InventoryManagementSystem1/build/
/InventoryManagementSystem/build/
/InventoryManagementSystem/nbproject/private/
/InventoryManagementSystem/dist/
